<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <style>
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.botao-adicionar {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.botao-adicionar button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

.botao-adicionar button:hover {
    background-color: #0056b3;
}

.flex-container {
    display: flex;
    justify-content: space-around; /* Garante espaço entre os grupos */
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.container {
    width: 100%; /* Certifique-se de que os containers ocupem toda a largura */
    margin-bottom: 20px; /* Espaçamento entre os containers */
}

.container h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.aliados, .inimigos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.grupo {
    width: 48%; /* Ajuste conforme necessário */
    min-width: 300px;
}

.personagem {
    width: 250px; /* Largura fixa para cada card */
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Espaço entre os cards */
    justify-content: center; /* Centraliza os cards */
    max-width: 800px; /* Ajuste conforme necessário */
}


h2 {
    text-align: center;
}


img {
    border-radius: 50%; /* Tornando a imagem redonda */
    width: 100px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 100px; /* Mantenha a altura igual à largura para garantir que a imagem seja perfeitamente redonda */
    object-fit: cover; /* Garante que a imagem se ajuste ao círculo sem distorção */
    display: block; /* Remove o espaçamento abaixo da imagem */
    margin: 0 auto; /* Centraliza a imagem se necessário */
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.personagem.removendo {
    animation: fadeOut 0.5s ease forwards;
}
    </style>
</head>
<body>
    <!-- Botão para adicionar personagem -->
    <div class="botao-adicionar">
        <a href="{% url 'escolher_personagem' %}">
            <button>Adicionar Personagem</button>
        </a>
        <a href="{% url 'limpar_personagens' %}">
            <button style="background-color: #dc3545;">Limpar Personagens</button>
        </a>
    </div>

<!-- Aliados (lado esquerdo) -->
<div class="flex-container">
    <div class="grupo">
    <h2>Aliados</h2>
    <div class="container aliados">
        <div class="cards">
        {% if aliados %}
            {% for personagem in aliados %}
            <div class="personagem" id="personagem-{{ personagem.id }}">
                <h3>{{ personagem.nome }}</h3>
                <p><strong>Tipo:</strong> {{ personagem.tipo }}</p>
            
                    <!-- Exibir a foto do personagem -->
                    {% if personagem.foto %}
                    <img src="{{ personagem.foto.url }}" alt="{{ personagem.nome }}">
                {% else %}
                    <p>Sem foto</p>
                {% endif %}
                <!-- PV -->
                <p>
                    <strong>PV:</strong>
                    <span id="pv-modificado-{{ personagem.id }}">{{ personagem.pv|floatformat:"-2" }}</span>
                    <input type="number" step="0.01" min="0" id="pv-input-{{ personagem.id }}" style="width: 50px;">
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'pv', 'aumentar')">+</button>
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'pv', 'diminuir')">-</button>
                </p>

                <!-- Defesa -->
                <p>
                    <strong>Defesa:</strong>
                    <span id="defesa-modificado-{{ personagem.id }}">{{ personagem.defesa|floatformat:"-2" }}</span>
                    <input type="number" step="0.01" min="0" id="defesa-input-{{ personagem.id }}" style="width: 50px;">
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'defesa', 'aumentar')">+</button>
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'defesa', 'diminuir')">-</button>
                </p>
            
                <!-- Armadura -->
                <p>
                    <strong>Armour:</strong>
                    <span id="armadura-modificado-{{ personagem.id }}">{{ personagem.armadura|floatformat:"-2" }}</span>
                    <input type="number" step="0.01" min="0" id="armadura-input-{{ personagem.id }}" style="width: 50px;">
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'armadura', 'aumentar')">+</button>
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'armadura', 'diminuir')">-</button>
                </p>
            
                <!-- Força -->
                <p>
                    <strong>Força:</strong>
                    <span id="forca-modificado-{{ personagem.id }}">{{ personagem.forca|floatformat:"-2" }}</span>
                    <input type="number" step="0.01" min="0" id="forca-input-{{ personagem.id }}" style="width: 50px;">
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'forca', 'aumentar')">+</button>
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'forca', 'diminuir')">-</button>
                </p>
            
                <!-- Magia -->
                <p>
                    <strong>Magia:</strong>
                    <span id="magia-modificado-{{ personagem.id }}">{{ personagem.magia|floatformat:"-2" }}</span>
                    <input type="number" step="0.01" min="0" id="magia-input-{{ personagem.id }}" style="width: 50px;">
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'magia', 'aumentar')">+</button>
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'magia', 'diminuir')">-</button>
                </p>
            
                <!-- Resistência -->
                <p>
                    <strong>Resist:</strong>
                    <span id="resistencia-modificado-{{ personagem.id }}">{{ personagem.resistencia|floatformat:"-2" }}</span>
                    <input type="number" step="0.01" min="0" id="resistencia-input-{{ personagem.id }}" style="width: 50px;">
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'resistencia', 'aumentar')">+</button>
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'resistencia', 'diminuir')">-</button>
                </p>
            
                <!-- Agilidade -->
                <p>
                    <strong>Agilidade:</strong>
                    <span id="agilidade-modificado-{{ personagem.id }}">{{ personagem.agilidade|floatformat:"-2" }}</span>
                    <input type="number" step="0.01" min="0" id="agilidade-input-{{ personagem.id }}" style="width: 50px;">
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'agilidade', 'aumentar')">+</button>
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'agilidade', 'diminuir')">-</button>
                </p>
            
                <!-- Sorte -->
                <p>
                    <strong>Sorte:</strong>
                    <span id="sorte-modificado-{{ personagem.id }}">{{ personagem.sorte|floatformat:"-2" }}</span>
                    <input type="number" step="0.01" min="0" id="sorte-input-{{ personagem.id }}" style="width: 50px;">
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'sorte', 'aumentar')">+</button>
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'sorte', 'diminuir')">-</button>
                </p>
            
                <!-- Botão para remover o personagem -->
                <a href="{% url 'remover_personagem' personagem.id %}">
                    <button style="background-color: #dc3545; margin-top: 10px;">Remover</button>
                </a>
            </div>
            {% endfor %}
        {% else %}
            <p>Nenhum aliado cadastrado.</p>
        {% endif %}
        </div>
    </div>
    </div>

<div class="grupo">
<!-- Inimigos (lado direito) -->
    <h2>Inimigos</h2>
    <div class="container inimigos">
        <div class="cards">
        {% if inimigos %}
            {% for personagem in inimigos %}
            <div class="personagem" id="personagem-{{ personagem.id }}">
                <h3>{{ personagem.nome }}</h3>
                <p><strong>Tipo:</strong> {{ personagem.tipo }}</p>
            
                    <!-- Exibir a foto do personagem -->
                    {% if personagem.foto %}
                    <img src="{{ personagem.foto.url }}" alt="{{ personagem.nome }}">
                {% else %}
                    <p>Sem foto</p>
                {% endif %}
                <!-- PV -->
                <p>
                    <strong>PV:</strong>
                    <span id="pv-modificado-{{ personagem.id }}">{{ personagem.pv|floatformat:"-2" }}</span>
                    <input type="number" step="0.01" min="0" id="pv-input-{{ personagem.id }}" style="width: 50px;">
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'pv', 'aumentar')">+</button>
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'pv', 'diminuir')">-</button>
                </p>
                        
                <!-- Defesa -->
                <p>
                    <strong>Defesa:</strong>
                    <span id="defesa-modificado-{{ personagem.id }}">{{ personagem.defesa|floatformat:"-2" }}</span>
                    <input type="number" step="0.01" min="0" id="defesa-input-{{ personagem.id }}" style="width: 50px;">
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'defesa', 'aumentar')">+</button>
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'defesa', 'diminuir')">-</button>
                </p>
            
                <!-- Armadura -->
                <p>
                    <strong>Armour:</strong>
                    <span id="armadura-modificado-{{ personagem.id }}">{{ personagem.armadura|floatformat:"-2" }}</span>
                    <input type="number" step="0.01" min="0" id="armadura-input-{{ personagem.id }}" style="width: 50px;">
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'armadura', 'aumentar')">+</button>
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'armadura', 'diminuir')">-</button>
                </p>
            
                <!-- Força -->
                <p>
                    <strong>Força:</strong>
                    <span id="forca-modificado-{{ personagem.id }}">{{ personagem.forca|floatformat:"-2" }}</span>
                    <input type="number" step="0.01" min="0" id="forca-input-{{ personagem.id }}" style="width: 50px;">
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'forca', 'aumentar')">+</button>
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'forca', 'diminuir')">-</button>
                </p>
            
                <!-- Magia -->
                <p>
                    <strong>Magia:</strong>
                    <span id="magia-modificado-{{ personagem.id }}">{{ personagem.magia|floatformat:"-2" }}</span>
                    <input type="number" step="0.01" min="0" id="magia-input-{{ personagem.id }}" style="width: 50px;">
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'magia', 'aumentar')">+</button>
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'magia', 'diminuir')">-</button>
                </p>
            
                <!-- Resistência -->
                <p>
                    <strong>Resist:</strong>
                    <span id="resistencia-modificado-{{ personagem.id }}">{{ personagem.resistencia|floatformat:"-2" }}</span>
                    <input type="number" step="0.01" min="0" id="resistencia-input-{{ personagem.id }}" style="width: 50px;">
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'resistencia', 'aumentar')">+</button>
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'resistencia', 'diminuir')">-</button>
                </p>
            
                <!-- Agilidade -->
                <p>
                    <strong>Agilidade:</strong>
                    <span id="agilidade-modificado-{{ personagem.id }}">{{ personagem.agilidade|floatformat:"-2" }}</span>
                    <input type="number" step="0.01" min="0" id="agilidade-input-{{ personagem.id }}" style="width: 50px;">
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'agilidade', 'aumentar')">+</button>
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'agilidade', 'diminuir')">-</button>
                </p>
            
                <!-- Sorte -->
                <p>
                    <strong>Sorte:</strong>
                    <span id="sorte-modificado-{{ personagem.id }}">{{ personagem.sorte|floatformat:"-2" }}</span>
                    <input type="number" step="0.01" min="0" id="sorte-input-{{ personagem.id }}" style="width: 50px;">
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'sorte', 'aumentar')">+</button>
                    <button onclick="atualizarAtributo({{ personagem.id }}, 'sorte', 'diminuir')">-</button>
                </p>
            
                <!-- Botão para remover o personagem -->
                <a href="{% url 'remover_personagem' personagem.id %}">
                    <button style="background-color: #dc3545; margin-top: 10px;">Remover</button>
                </a>
            </div>
            {% endfor %}
        {% else %}
            <p>Nenhum inimigo cadastrado.</p>
        {% endif %}
        </div>
    </div>
</div>
</div>
<script>
// Função auxiliar para formatar o número com até 2 casas decimais,
// removendo zeros desnecessários à direita.
function formatarDecimal(valor) {
    return parseFloat(Number(valor).toFixed(2)).toString();
}

function atualizarAtributo(personagemId, atributo, acao) {
    const input = document.getElementById(`${atributo}-input-${personagemId}`);
    const valor = parseFloat(input.value);  // Converte para decimal

    const modificadoElement = document.getElementById(`${atributo}-modificado-${personagemId}`);
    let valorAtual = parseFloat(modificadoElement.textContent);  // Converte para decimal

    if (atributo === 'pv' && acao === 'diminuir') {
        const resistenciaElement = document.getElementById(`resistencia-modificado-${personagemId}`);
        const resistencia = parseFloat(resistenciaElement.textContent);  // Converte para decimal

        const danoReduzido = Math.max(0, valor - resistencia);
        valorAtual = Math.max(0, valorAtual - danoReduzido);
    } else {
        if (acao === 'aumentar') {
            valorAtual += valor;
        } else if (acao === 'diminuir') {
            valorAtual = Math.max(0, valorAtual - valor);
        }
    }

    // Atualiza o elemento utilizando a formatação desejada
    modificadoElement.textContent = formatarDecimal(valorAtual);

    if (atributo === 'pv' && valorAtual <= 0) {
        // Remove o personagem da exibição
        const personagemElement = document.getElementById(`personagem-${personagemId}`);
        if (personagemElement) {
        personagemElement.classList.add('removendo');
        setTimeout(() => {
            personagemElement.remove();
        }, 500);  // Remove após a animação
    }
    }
}

</script>
</body>
</html>